@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ArchivoBlack-Regular'; /* Replace with your desired font family name */
  src: url('../public/ArchivoBlack-Regular.ttf') format('ttf'); /* Adjust the file path and format */
  /* Add additional font formats as needed */
  font-weight: normal;
  font-style: normal;
}